.gallery_preview {
    width: 150px;
    height: 150px;
    margin: 30px;
    cursor: pointer;
}

.frame-custom {
    border: 2px solid grey;
    margin: 5px;
}

.button_div {
    margin: 30px;
}

.addBtn {
    margin: 5px;
}